/*
  The logo is the Heavy check mark character, unicode 10004, with the
  visible spectrum as color.  There's not really a CSS option to use
  an image as color, so we set the font as transparent, while clipping
  the image with the text.  This works in most of current browsers.
  In the ones that do not work, it will falback to use a white font
  over an image of the visible spectrum.
*/

.spekcheck-filtersview
{
    max-height: 200px;
    overflow-y: auto;
}

/*
  Style cursor for drag and drop the filters.  Because the li also
  have buttons on them (to switch mode between reflection and
  transmission), we use the more general 'pointer' instead of the
  grab/grabbing cursors.
*/
#path-builder li:hover
{
    cursor: pointer;
}

/*
  We need to specify a height value,. to the parent of the canvas
  element, so it knows how to be responsive.

  http://www.chartjs.org/docs/latest/general/responsive.html#important-note
*/
.spekcheck-chart-container
{
    margin: auto;
    height: 80vh;
    width: 90vw;
}


/*
  We shouldn't need this...
*/
.container {
    float: left;
    margin: 1em;
}
