/index.html
/help.html
/node_modules/

/templates/link-includes.in
/templates/script-includes.in

/images/micron-logo.png
/images/spekcheck-logo.png
/images/favicon.ico
/images/favicon.png

/SPEKcheck-*.tar.gz
/SPEKcheck-*.zip
