body {
    font-family: sans-serif;
}



*.selected {
    background: #999;
}

#dyes, #filters, #fset, #exset, #sets, #excitation {
    overflow-y: scroll;
    border: ridge;
    height: 12em;
}


label {
    margin-top: 3px;
}

.container {
    float: left;
    margin: 1em;
}


#fset > * {
    display: flex;
    justify-content: space-between;
    width: 12em;
}

#exset > * {
    display: flex;
    justify-content: space-between;
    width: 12em;
}


label {
    display: inline-block;
}
