#dyes *.ui-selecting {
    background: #ccc;
}

#dyes *.ui-selected {
    background: #999;
}

#dyes, #filters, #fset {
    float:left;
    margin: 1em;
    overflow-y: scroll;
    border: ridge;
    height: 12em;
}

#fset > * {
    display: flex;
    justify-content: space-between;
    width: 12em;
}