<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="./">
    <img src="images/spekcheck-logo.png" width="30" height="29"
         class="d-inline-block align-top" alt="">
    <span style="font-weight:bold">SPEK</span>check
  </a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li>
        <div class="nav-item btn-group">
          <button class="btn btn-primary" data-toggle="modal"
                  data-target="#import-file-dialog" type="submit">
            Import …
          </button>
        </div>
        <div class="nav-item btn-group">
          <button class="btn btn-primary" data-toggle="modal"
                  data-target="#save-setup-dialog" type="submit">
            Add Setup
          </button>
        </div>
        <div class="nav-item btn-group">
          <button class="btn btn-primary" data-toggle="collapse"
                  data-target="#path-builder" type="submit"
                  aria-expanded="false" aria-controls="#path-builder">
            Customise Filters
          </button>
        </div>
        <div class="nav-item btn-group">
          <button class="btn btn-primary" data-toggle="modal"
                  data-target="#test-dyes-dialog" type="submit">
            Optimise Dyes
          </button>
        </div>
        <div class="nav-item btn-group">
          <a class="btn btn-primary" href="#" role="button"
             id="save-plot-button" download="">
            Save Plot
          </a>
        </div>
        <div class="nav-item btn-group">
          <a class="btn btn-primary" href="./help.html">
            Help
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!--
    Modals use `position: fixed`, which can sometimes be a bit
    particular about its rendering.  Whenever possible, place your
    modal HTML in a top-level position to avoid potential interference
    from other elements.  You'll likely run into issues when nesting a
    `.modal` within another fixed element.
-->

<!-- Dialog to import detectors, dyes, excitation sources, and filters -->
<div class="modal fade" id="import-file-dialog" tabindex="-1" role="dialog"
     aria-labelledby="import-file-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="import-file-title">Import File</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form class="needs-validation" novalidate>
        <div class="modal-body">
          <div class="input-group mb-3">
            <select class="custom-select" id="file-type">
              <option value="detector">Detector</option>
              <option value="dye">Dye</option>
              <option value="excitation">Excitation</option>
              <option value="filter">Filter</option>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="file-type">Type</label>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="text" class="form-control" id="file-name"
                   aria-describedby="name" required/>
            <div class="input-group-append">
              <label class="input-group-text" for="file-name">Name</label>
            </div>
          </div>

          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="file-selector"/>
              <label class="custom-file-label" for="file-selector"/>
            </div>
          </div>

          <p>
            Each type of data file has a specific configuration.  See
            the help.  An hopefully better help message will be
            displayed if it fails to parse the file during import.
          </p>

          <!-- To be filled and show if it fails to import the file. -->
          <div class="alert alert-danger" role="alert" id="failure" hidden="">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"
                  id="import-button">Import</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Dialog to save current configuration as setup -->
<div class="modal fade" id="save-setup-dialog" tabindex="-1" role="dialog"
     aria-labelledby="save-setup-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="save-setup-title">Save Setup</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="setup-name">
              Name
            </label>
          </div>
          <input type="text" class="form-control" id="setup-name"/>
        </div>

        <p>
          <button class="btn btn-primary" type="button"
                  data-toggle="collapse" data-target="#setup-description">
            Show setup in JSON format
          </button>
        </p>
        <div class="collapse" id="setup-description">
          <pre><code></code></pre>
        </div>

        <!-- To be filled and show if it fails to save the setup. -->
        <div class="alert alert-danger" role="alert" id="failure" hidden="">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"
                id="save-button">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Table to show the efficiency of current setup under all the dyes -->
<div class="modal fade" id="test-dyes-dialog" tabindex="-1" role="dialog"
     aria-labelledby="test-dyes-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="test-dyes-title">Dye Testing Results</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <table class="table table-striped table-sm" id="test-dyes-results">
          <thead class="thead-light">
            <tr>
              <th scope="col">Dye</th>
              <th scope="col">Excitation &#9660;</th>
              <th scope="col">Emission &#9660;</th>
              <th scope="col">Brightness &#9660;</th>
            </tr>
          </thead>
          <tbody>
          </tbody>

          <!-- A template for the rows of the table -->
          <template>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </template>
        </table>
      </div>

      <div class="modal-footer">
        <!-- TODO: a button to export table as CSV? -->
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- A modal dialog for error messages -->
<div class="modal fade" id="error-dialog" tabindex="-1" role="dialog"
     aria-labelledby="error-dialog-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="error-dialog-title">A wild error appears</h5>
        <button type="button" class="close" data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="alert alert-danger" role="alert" id="error-message">
        </div>

        <div>
          <pre><code id="error-stack-trace"></code></pre>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Selector for setup, dye, excitation source, and detector -->
<div class="container row">
  <div class="col-sm input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Setup</span>
    </div>
    <select class="custom-select" id="setup-selector">
    </select>
  </div>
  <div class="col-sm input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Dye</span>
    </div>
    <select class="custom-select" id="dye-selector">
    </select>
  </div>
  <div class="col-sm input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Excitation</span>
    </div>
    <select class="custom-select" id="excitation-selector">
    </select>
  </div>
  <div class="col-sm input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Detector</span>
    </div>
    <select class="custom-select" id="detector-selector">
    </select>
  </div>
</div>

<!-- Advanced controls to modify the filter paths. -->
<div class="collapse container" id="path-builder">
  <div class="row">
    <div class="col-sm" id="filters-view">
      <div class="card"
           title="drag and drop filters into the excitation and emission paths">
        <div class="card-header">
          Filters
        </div>
        <ul class="list-group list-group-flush spekcheck-filtersview">
        </ul>
      </div>
    </div>
    <div class="col-sm" id="ex-path">
      <div class="card">
        <div class="card-header">
          Excitation Path
        </div>
        <ul class="list-group list-group-flush spekcheck-filtersview">
        </ul>
      </div>
    </div>
    <div class="col-sm" id="em-path">
      <div class="card">
        <div class="card-header">
          Emission Path
        </div>
        <ul class="list-group list-group-flush spekcheck-filtersview">
        </ul>
      </div>
    </div>
  </div>

  <template id="collection-filters">
    <li class="list-group-item" draggable="true"></li>
  </template>

  <!-- Template for filters on the path. -->
  <template id="path-filters">
    <li class="list-group-item">
      <span id="filter-name"></span>
      <div class="float-right">
        <div class="btn-group btn-group-toggle" data-toggle="buttons"
             id="filter-mode-switch"
             title="switch between transmission and reflection mode">
          <label class="btn btn-sm btn-secondary">
            <input type="radio" id="transmission"/>T
          </label>
          <label class="btn btn-sm btn-secondary">
            <input type="radio" id="reflection"/>R
          </label>
        </div>
        <button type="button" class="close" aria-label="Close"
                title="remove filter from this path">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </li>
  </template>
</div>

<!--
   Canvas to display the spectra.

    Detecting when the canvas size changes can not be done
    directly from the CANVAS element. Chart.js uses its parent
    container to update the canvas render and display
    sizes. However, this method requires the container to be
    relatively positioned and dedicated to the chart canvas
    only. Responsiveness can then be achieved by setting relative
    values for the container size.

    http://www.chartjs.org/docs/latest/general/responsive.html#important-note
  -->
<div class="spekcheck-chart-container">
  <canvas id="setup-plot">
  </canvas>
</div>
